{% extends "!layout.html" %}

{% block htmltitle %}
    {{ super() }}
    <!-- 添加自定义的 meta 标签 -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "SoftwareApplication",
          "name": "JSON to Excel",
          "description": "A Microsoft Excel add-in that converts JSON data into Excel spreadsheets. Perfect for integrating API data into Excel for analysis.",
          "applicationCategory": "Data Conversion",
          "operatingSystem": "Web"
        }
    </script>
    <meta name="description"
        content="Excel add-in JSON-to-Excel Convert JSON to Excel within Excel (web online, windows, mac, linux) JSON-to-Excel is a Microsoft Excel add-in which can convert JSON to Excel within Excel. Both flat and nested JSON can be converted using this add-in.
        This add-in is available at the Microsoft store- Appsource, which can be accessed within Excel, so it does not require any download, a simple click within Excel would run the add-in.">
    <meta name="keywords"
        content="excel-to-json, json-to-excel, excel to json, json to excel, json, excel, conversion, mac, windows, transfer, spreadsheets, microsoft, add-in, web, online">
    <link rel="icon" href="https://t.wtsolutions.cn/favicon.ico">
{% endblock %}