<div class="sy-foot-socials">
    {%- include "components/foot-socials.html" -%}
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "0f2a07fad68242f78630ddaf8fc89c72"}'></script><!-- End Cloudflare Web Analytics -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "SoftwareApplication",
          "name": "JSON to Excel by WTSolutions",
          "description": "JSON to Excel by WTSolutions is a toolset converts JSON data into Excel spreadsheets. Perfect for integrating API data into Excel for analysis. Includes Web App, Excel Add-in, API, MCP, WPS Add-in, Local App, Local Excel Add-in ",
          "applicationCategory": "Data Conversion",
          "operatingSystem": "Web, Windows, Mac, Linux"
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var links = document.querySelectorAll('a[href^="http"]');
            links.forEach(function (link) {
                link.setAttribute('target', '_blank');
                link.setAttribute('rel', 'origin');
            });
        });
    </script>
</div>